/* Font Definitions */
@font-face {
    font-family: Metropolis;
    src: url(/resources/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: Mono45Headline-Bold;
    src: url(/resources/fonts/Mono45Headline-Bold.ttf);
}


/* Variable Declarations */
:root {
    --col-blblue: #005EB8;
    --col-blbluealt: #0084ff;
    --col-text: #DADEE6;
    --col-bodyback: #2c2c2c;
    --col-bodybackd: #242424;

    --logo: url('/resources/img/logos/Logo-white.png');
}

/* Standard Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Standard Preferences */
html {
    color-scheme: dark light;
    height: 100vh;
}

body {
    font-family: 'Metropolis', 'Trebuchet MS';
    font-size: 2.5rem;
    color: var(--col-text);
    height: 100vh;
    background-color: var(--col-bodyback);
}

/* Standard Preferences */
p {
    font-size: 1.8rem;
}

/* Nav Menu */
.sidebar {
    position: fixed;
    width: 20rem;
    top: 5rem;
    background-color: var(--col-bodybackd);
    z-index: 100;
    transition: 0.3s;
    left: -15rem;
    padding-block: 2rem;
    border-radius: 0 1rem 1rem 0;
    border: var(--col-blbluealt) solid 2px;
    border-left: none;
}

.sidebar a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: var(--col-text);
    width: 100%;
    transition: 0.3s;
}

.sidebar-link-title,
.sidebar-link-icon {
    display: inline;
}

.sidebar-link-icon {
    right: 1.3rem;
    position: absolute;
}

.sidebar-link-icon img {
    width: 2.5rem;
}

.sidebar:hover {
    left: 0;
}

.sidebar:hover #sidelogo {
    margin-left: 1.7rem;
    opacity: 1;
}

#sidelogo-icon {
    top: 3rem;
    transition: 0.5s;
}

.sidebar:hover #sidelogo-icon {
    opacity: 0;
}

.sidebar a:hover {
    background-color: var(--col-blblue);
}

#sidelogo {
    width: 16rem;
    padding-inline: 1rem;
    transition: opacity 0.8s, margin-left 0.5s;
    margin-bottom: 1rem;
    opacity: 0;
}

/* Light / Dark Switch */
#ld-wrapper {
    text-align: center;
    display: inline;
}

.viewswitch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    top: -0.5rem;
}

.viewswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--col-text);
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.4rem;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: var(--col-blblue);
}

input:checked+.slider:before {
    transform: translateX(1.75rem);
}

.slider.switch {
    border-radius: 1rem;
}

.slider.switch:before {
    border-radius: 50%;
}



/* Header */
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

/* https://codepen.io/linux/pen/aEQKWP */

.header-content {
    width: 100%;
    height: 100%;
    padding: 50px;
    text-shadow: 1px 1px 1px #333;

    --bsize: 3rem;
    --col-op-blblue: rgba(0, 132, 255, 0.2);

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--col-op-blblue) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--col-op-blblue) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--col-op-blblue) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(20deg, var(--_g));
    --_g1: repeating-linear-gradient(-20deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--bsize) var(--bsize),
        var(--_g1), var(--_g1) var(--bsize) var(--bsize) var(--col-blblue);
    background-size: calc(2*var(--bsize)) calc(2*var(--bsize));
}

header img {
    margin: auto;
    max-height: 20rem;
    padding-bottom: 2rem;
}

header p {
    margin: auto;
    max-width: 90%;
    padding-bottom: 2rem;
}

header p b {
    text-shadow: 1px 1px 1px #202020;
}












/* Scaling */
@media only screen and (max-width: 800px) {
    p {
        font-size: 1.3rem;
    }

    .sidebar {
        left: -17.5rem;
        padding-block: 1rem;

    }

    .sidebar-link-icon:has(img) {
        right: 0.5rem;
    }

    .sidebar-link-icon img {
        width: 1.5rem;
    }

}