@font-face {
    font-family: Metropolis;
    src: url(/resources/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: Mono45Headline-Reg;
    src: url(/resources/fonts/Mono45Headline-Light.ttf);
}

:root {
    --blback: hsl(210, 71%, 93%);
    --bltext: hsl(209, 100%, 13%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--bltext);
    font-family: 'Metropolis', 'Trebuchet MS';
    color-scheme: dark light;
    overflow-x: hidden;
    color: var(--blback);
    height: 100vh;
    background-color: var(--bltext);
}

.neo-main {
    text-align: center;
    width: 100vw;
    margin-top: 25vh;
}

h1 {
    font-family: Mono45Headline-Reg, 'Trebuchet MS';
    color: #005EB8;
    font-size: 4rem;
}

p {
    font-size: 1.3rem;
    padding: 1rem;
}

.link-btn-dark {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.8rem 2rem;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: var(--blback);
    background-color: rgba(0, 94, 184, 0.7);
    border: solid hsl(209, 100%, 76%) 2px;
}

.link-btn-dark:hover {
    color: var(--blback);
    background-color: #005EB8;
    border: solid #005EB8 2px;
}

img {
    max-width: 50vw;
}